@import url('https://fonts.googleapis.com/css2?family=Iceland&family=Lexend:wght@100..900&family=Nosifer&display=swap');

*{
    font-family:"Lexend", sans-serif;
    font-weight:400;
    font-style:normal;   
}

body{
    margin:0;
    padding:0;
    background-color: #d9d4d4;;

.logo{
    font-family: "Nosifer", sans-serif;
    font-size: 2rem;
    color: #111111;
}

.site-header {
  background: #d9d4d4;
  border-bottom: 1px solid #eee;
  padding: 15px 0;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Navigation */
.nav {
  display: flex;
  gap: 30px;
}

.nav a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-weight: 600;
}

.nav a:hover {
  color: #555;
}

.trailer-video {
    width: 600px;
    height: 350px;
    overflow: hidden;
}

.trailer-video{
    width: 100%;
    height: 100%;
    object-fit: cover; /* fills div without distortion */
}

.product-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
    gap: 30px;
}

.card{
  width: 250px;
  background: #1a1a1a;
  border-radius: 15px;
  padding: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.4);
  color: #b0adad;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-8px);   /* cute hover lift */
}

.product-img{
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}